/* CSS declarations go here */
@font-face {
	font-family: "typo";
	src: url('fen.otf') format('opentype');
}

@font-face {
	font-family: "VTFMisterPixel-Tools";
	src: url('PIXTOOLS.otf') format('opentype');
}

@font-face {
    font-family: 'Avara-Bold';
    src:    url('Bold/Avara-Bold_web.eot');
    src:    url('Bold/Avara-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('Bold/Avara-Bold_web.woff') format('woff'),
            url('Bold/Avara-Bold_web.woff2') format('woff2'),
            url('Bold/Avara-Bold_web.ttf') format('truetype'),
            url('Bold/Avara-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold Italic';
    src:    url('BoldItalic/Avara-Bold_Italic_web.eot');
    src:    url('BoldItalic/Avara-Bold_Italic_web.eot?#iefix') format('embedded-opentype'),
            url('BoldItalic/Avara-Bold_Italic_web.woff') format('woff'),
            url('BoldItalic/Avara-Bold_Italic_web.woff2') format('woff2'),
            url('BoldItalic/Avara-Bold_Italic_web.ttf') format('truetype'),
            url('BoldItalic/Avara-Bold_Italic_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:    url('Black/Avara-Black_web.eot');
    src:    url('Black/Avara-Black_web.eot?#iefix') format('embedded-opentype'),
            url('Black/Avara-Black_web.woff') format('woff'),
            url('Black/Avara-Black_web.woff2') format('woff2'),
            url('Black/Avara-Black_web.ttf') format('truetype'),
            url('Black/Avara-Black_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	opacity: 0;
	transition: opacity .3s;
}

svg{
	height:100%;
}

.clickable{
	cursor: pointer;
}

.clickable:hover{
	color:blue;
}

.clicked{
	color:green;
	pointer-events: none!important;
}

.overflowing{
	overflow: scroll !important;
}

.tarotPlayedCard{
	height: 25vw;
	width: 18vw;
	background-color: white;

	border-radius: 1vw;
}

#tpc1{
	opacity: 0;
	transition: opacity 3s;

	position: absolute;
	bottom: 130px;
	left:38vw;

	z-index: -1000;

	background-size: cover; 
	background-position: center;
}
#tpc2{
	opacity: 0;
	transition: opacity 3s;

	position: absolute;
	bottom: 130px;
	left:58vw;

	z-index: -1000;

	background-size: cover; 
	background-position: center;
}
#tpc3{
	opacity: 0;
	transition: opacity 3s;

	position: absolute;
	bottom: 130px;
	left:78vw;

	z-index: -1000;

	background-size: cover; 
	background-position: center;

}

.tasdeTarot{
	opacity: 1;
	transition: opacity 1s;
	position: absolute;
	bottom: 20px;
	right:50%;
}

.cartedeTarot{
	height: 320px;
	width: 230px;

	background-color: red;
	border-width: 1px;
	border-style: solid;
	border-radius: 17px;

	box-shadow: 2px 2px white;
}

.cartedeTarot:nth-child(1){
	position: absolute;
	bottom:50px;
	left: -180px;
	display:none;
	transform: rotate(-32deg);
}

.cartedeTarot:nth-child(2){
	position: absolute;
	bottom:50px;
	left: -140px;
	display:none;
	transform: rotate(-28deg);

}

.cartedeTarot:nth-child(3){
	position: absolute;
	bottom:50px;
	left: -100px;
	display:none;
	transform: rotate(-24deg);
}

.cartedeTarot:nth-child(4){
	position: absolute;
	bottom:50px;
	left: -60px;
	display:none;
	transform: rotate(-22deg);
}

.cartedeTarot:nth-child(5){
	position: absolute;
	bottom:50px;
	left: -20px;
	display:none;
	transform: rotate(-18deg);
}

.cartedeTarot:nth-child(6){
	position: absolute;
	bottom:50px;
	left: 20px;
	display:none;
	transform: rotate(-14deg);
}

.cartedeTarot:nth-child(7){
	position: absolute;
	bottom:50px;
	left: 60px;
	display:none;
	transform: rotate(-10deg);
}

.cartedeTarot:nth-child(8){
	position: absolute;
	bottom:50px;
	left: 100px;
	display:none;
	transform: rotate(-6deg);
}

.cartedeTarot:nth-child(9){
	position: absolute;
	bottom:50px;
	left: 140px;
	display:none;
	transform: rotate(0deg);
}

.cartedeTarot:nth-child(10){
	position: absolute;
	bottom:50px;
	left: 180px;
	display:none;
	transform: rotate(4deg);
}

.cartedeTarot:nth-child(11){
	position: absolute;
	bottom:50px;
	left: 220px;
	display:none;
	transform: rotate(8deg);
}

.cartedeTarot:nth-child(12){
	position: absolute;
	bottom:50px;
	left: 260px;
	display:none;
	transform: rotate(12deg);
}

.cartedeTarot:nth-child(13){
	position: absolute;
	bottom:50px;
	left: 300px;
	display:none;
	transform: rotate(16deg);
}

.cartedeTarot:nth-child(14){
	position: absolute;
	bottom:50px;
	left: 340px;
	display:none;
	transform: rotate(20deg);
}

.cartedeTarot:nth-child(15){
	position: absolute;
	bottom:50px;
	left: 380px;
	display:none;
	transform: rotate(24deg);
}

.cartedeTarot:nth-child(16){
	position: absolute;
	bottom:50px;
	left: 420px;
	display:none;
	transform: rotate(28deg);
}

.tasDeCartes{
	position: absolute;

	display: none;

	right:20px;
	bottom:0px;
	transform: translateY(-50%);

	height:250px;
	width:180px;

	background-color:gold;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	display: none;
	justify-content: center;
	align-items: center; 

	font-size: 50px;

	box-shadow: 2px 2px #888888;

	cursor: pointer;
}

.tasDeCartes:hover{
	opacity: .8;
}

.card{
	position: absolute;

	height:250px;
	width:180px;
	background-color:white;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center; 

	display: none;
}

.cardText{
	text-align: center;
	padding: 10px;
	transform: translate(0px,0px) !important;
/*	wtf css
*/}

.cardLogo{
	bottom:0px;
}

#firsthihi{
	margin-left:4vw;
}


.hihi{
	font-family:VTFMisterPixel-Tools !important;
}

#warning{
	position: fixed;
	right:15px;
	top:15px;

	width: 400px;
	color:grey;
}

#waitingScreen{
	font-family:Avara_Black !important;
	font-size:1.4vw;
	width:66vw;
	margin-top:2vw;
	margin-left:2vw;
}

#waitingMore{
	font-family:Avara_Black !important;
	font-size:1vw;
	width:55vw;
	margin-left:2vw;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    #scrollhider {
        display:none;
    }
}

.container{
	background-color:yellow;
	border-style: solid;
	border-color:black;
}

.Mathilde{
	background-color:chartreuse;
	color:black;
}
.Samuel{
	background-color:chartreuse;
	color:black;
}
.Nicole{
	background-color:chartreuse;
	color:black;
}

body{
	font-family: 'Avara-Bold',serif;
	background-color: beige;
	color:black;
	overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#container{
	width:98vw;
	height:98vh;

	display: grid;
	grid-template-columns: 16.66%16.66%16.66%16.66%16.66%16.66%;
	grid-template-rows: 16.66%16.66%16.66%16.66%16.66%16.66%;
}

#phylactereContainer{
	grid-row-start: 1;
	grid-row-end: span 1;
	grid-column-start: 4;
	grid-column-end: span 3;
}

#phylactere{
	background-color: white;
	border: solid;
    position: relative;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px;
    top: 50%;
transform: translate(0%,-50%);
}

.cartedeTarot:hover{
	background-color:white;
	cursor: pointer;
}

#content{
	overflow-y: scroll;
	word-wrap: break-word;
	padding-right:18px;
	margin-right: -18px;
	overflow-y: scroll;
	overflow-x: hidden;
	color:black;
}

#mainTxtInput{
	font-family: Avara_Black, serif;
	font-size:20px;
	border:none;
	background-color:lightgrey;
	color:black;
	width:100%;
	word-wrap: break-word;
	resize:none;
}

#envoyer{
	font-size: 1.5vh;
/*	height:3vh;
*/	font-family: inherit;
	margin-bottom:10px;
}

#actualContent{
	font-size: 20px;
}

#author{
	font-family:Avara_Bold Italic !important;
}

#audioFile{
	display:none;
}

.composeLine{
	font-size:18px;
	width: 100%;
}
.composeTitle{
	font-size:28px;
	width: 100%;
	font-style: bold;
}

.composeTitle::placeholder{
	color:lightgrey;
}

.radioPlayer{
	background-color: black;
	color:white;
	position: relative;
	bottom:0px;
	z-index: 10000;
	width: 50%;
	left:50%;
	transform: translateX(-50%);
	margin-top:100px;
	margin-bottom:100px;

}

#starWars{
	top: 100vh;
	color:white;
	transition:transform 120s linear, opacity 2s;
	transform: translateY(0px);
	width: 100%;
	position: absolute;
	background-color:black;
	left: 0px;
}

.poesis{
	font-size:30px;
	margin-left:200px;
	height:50px;
}

.poesisTitle{
	margin-top: 300px;
	margin-bottom: 100px;
	text-align: center;
	font-size: 40px;
}

#left{
	width: 600px;
}

#right{
	position: absolute;
	right:0px;
	width:45%;
}

#leftColumn{
	display:inherit;

	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: span 4;
}

#conseillere{
	background-image: url("/mugshots/Mathilde.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	grid-row-start: 1;
	grid-row-end: span 1;

	grid-column-start:3;
	grid-column-end:span 1;
}

#conseillereA{
	opacity: 0;
	grid-row-start: 1;
	grid-row-end: span 1;

	grid-column-start:3;
	grid-column-end:span 1;
}


.MathildeA{
	background-image: url("mugshots/MathildeA.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: blablaM .3s infinite linear;
}

@keyframes blablaM {
 0%, 100%{background-image: url("mugshots/Mathilde.png");}
 50%{background-image: url("mugshots/MathildeA.png");}
}

.SamuelA{
	background-image: url("mugshots/SamuelA.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: blablaS .3s infinite linear;
}

@keyframes blablaS {
 0%, 100%{background-image: url("mugshots/Samuel.png");}
 50%{background-image: url("mugshots/SamuelA.png");}
}

.ThibautA{
	background-image: url("mugshots/ThibautA.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: blablaT .3s infinite linear;
}

@keyframes blablaT {
 0%, 100%{background-image: url("mugshots/Thibaut.png");}
 50%{background-image: url("mugshots/ThibautA.png");}
}


.ValerieA{
	background-image: url("mugshots/ValerieA.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: blablaV .3s infinite linear;
}

@keyframes blablaV {
 0%, 100%{background-image: url("mugshots/Valerie.png");}
 50%{background-image: url("mugshots/ValerieA.png");}
}

.CamilleA{
	background-image: url("mugshots/CamilleA.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: blablaC .3s infinite linear;
}

@keyframes blablaC {
 0%, 100%{background-image: url("mugshots/Camille.png");}
 50%{background-image: url("mugshots/CamilleA.png");}
}

.MaximeA{
	background-image: url("mugshots/MaximeA.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: blablaMax .3s infinite linear;
}

@keyframes blablaMax {
 0%, 100%{background-image: url("mugshots/Maxime.png");}
 50%{background-image: url("mugshots/MaximeA.png");}
}

.AgatheA{
	background-image: url("mugshots/AgatheA.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: blablaAgathe .3s infinite linear;
}

@keyframes blablaAgathe {
 0%, 100%{background-image: url("mugshots/Agathe.png");}
 50%{background-image: url("mugshots/AgatheA.png");}
}

.VincentA{
	background-image: url("mugshots/VincentA.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: blablaVincent .3s infinite linear;
}

@keyframes blablaVincent {
 0%, 100%{background-image: url("mugshots/Vincent.png");}
 50%{background-image: url("mugshots/VincentA.png");}
}

.EmmaA{
	background-image: url("mugshots/EmmaA.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: blablaEmma .3s infinite linear;
}

@keyframes blablaEmma {
 0%, 100%{background-image: url("mugshots/Emma.png");}
 50%{background-image: url("mugshots/EmmaA.png");}
}

#cartes{

	grid-row-start: 2;
	grid-row-end: span 3;

	grid-column-start:3;
	grid-column-end:span 4;
}


#right{
	margin-bottom:15px;
}

.lowKey{
	font-size:12px;
	color: grey;
	font-family:'typo', serif;
}

input:focus{
    outline: none;
}

#message{
	background-color: blue;
	color:white;
	margin-bottom:15px;
}

#formINSTRUCTIONS{
grid-row-start: 1;
grid-row-end: span 1;
grid-column-start: 3;
grid-column-end: span 5;
}

#instructionsInput{
	width:100%;
	height:100%;
}


#envoyerINSTRUCTIONS{
	background-color:lightblue;
	height:50px;
	width:100px;
}

#DESACTIVAY{
	background-color:grey;
}

.removeAll{
	grid-row-start:4;
	background-color:red;
	height:50px;
	width:100px;

	margin-left:100px;
}

.admin #container{
	width:98vw;
	height:98vh;

	display: grid;
	grid-template-columns: 20%10%10%10%10%10%10%10%10%;
	grid-template-rows: 10%16.66%16.66%16.66%16.66%16.66%;
}

.admin #leftColumn{
	display: inherit;
	grid-row-start: 1;
	grid-row-end: span 6;
	grid-column-start: 1;
	grid-column-end: span 2;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:black;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:black;
}