.mobileRadioContainer{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mobileNav > ol{
	display: flex;
 	width: 100%;

	list-style: none; 
	margin: 0; 
	margin-bottom :10px;
	padding: 0; 

	padding: 5px;
}

.navLink{
	flex-grow: 1;
	height: 250px;
	width: 250px;

	background-color:black;
	padding: 5px;

	border: 1px solid rgb(255, 255, 255);
	margin-right: 5px;

	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navLink > a{
	font-size: 3vw;
	display: block;
	color:white!important;
	text-decoration: none;
}

.mobileClick{
	transform: translateX(5px);
	font-size:9vw;
	margin-bottom: 40px;
}

.navBot{
	position: relative;
	bottom: 0px;
}